<!DOCTYPE html>
<html>
	<head>
		<title>Charissa Johnson - Full Stack Web Developer</title>
	</head>
	<body>
		{% extends "layout.html" %}
		{% block content %}
		<header>
			<h1>Welcome!</h1>
			<p>I'm Charissa, a full-stack web developer. Some frameworks I'm, familiar with are MEAN stack, ruby on rails, and python with Django or Flask (like this site!). I'm currently looking for a position as a full-stack, front end, or back end developer, but I am open to new opportunities! Go ahead and check out the rest of my site to see what I can do <span>OR</span> <a href="mailto:charissayjohnson@gmail.com">contact</a> me directly</p>
		</header>
		<nav>
			<ul>
				<li><a href="/projects-technologies">Projects and Technologies</a></li>
				<li><a href="/about">Who am I?</a></li>
				<li><a href="/education">Education</a></li>
			</ul>
		</nav>
		<aside>
			<h3>Let's get in touch!</h3>
			<ul>
				<li><a href="https://www.linkedin.com/in/charissa-johnson-y/">LinkedIn</a></li>
				<li><a href="mailto:charissayjohnson@gmail.com">Email</a></li>
			</ul>
			<p>While I try my best to keep this site up to date, you'll find way more projects - more frequently - on my <a href="https://github.com/charissayj">GitHub</a> account. Go ahead and check it out!</p>
		</aside>
		<section>
			<img src="{{url_for('static', filename='img/headshot.jpg')}}" class="img-thumbnail"/>
		</section>
		{% endblock %}
	</body>
</html>