<!DOCTYPE html>
<html>
	<head>
		<title>Projects</title>
	</head>
	<body>
		{% extends "layout.html" %}
		{% block content %}
			<!-- Mask -->
			<div class="view">
				<!-- Project Intro Content -->
				<div class="full-bg-img flex-center">
					<h1 class="h1-responsive" id="project-header">Projects</h1>
				</div>		
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-4 projects">
						<div class="card">
							<img class="card-img-top" src="{{url_for('static', filename='img/samson.png')}}""/>
							<div class="card-block">
								<h4 class="card-title">Samson Tug and Barge</h4>
								<p class="card-text">A wordpress site I co-created with a web and graphic designer. This site is for a tug and barge company located in Seattle. I used jQuery, bootstrap, HTML, CSS, and JavaScript to create this site and make it responsive.</p>
								<a class="btn" href="http://samsontug.com/">View Live</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 projects">
						<div class="card">
							<img class="card-img-top" src="{{url_for('static', filename='img/jobscraper.png')}}""/>
							<div class="card-block">
								<h4 class="card-title">Job Scraper</h4>
								<p class="card-text">One of the projects I'm most proud of is my web scraper. This project uses Python and the beautiful soup library to scrape the pages of popular job posting sites. The results are organized and a .csv file containing those results is created.</p>
								<a class="btn" href="https://github.com/charissayj/Job-Scraper">GitHub</a>
							</div>
						</div>
					</div>
					<div class="col-xs-4 projects">
						<div class="card">
							<img id="polls" class="card-img-top" src="{{url_for('static', filename='img/polls.png')}}"/>
							<div class="card-block">
								<h4 class="card-title">Polls</h4>
								<p class="card-text">This is a simple one-page web application was created with MEAN stack. I created my own server with Express.js, used mongoDB for the database, and Angular 4 for the front-end and uses RESTful routing and CRUD operations.</p>
								<a class="btn" href="https://github.com/charissayj/polls">GitHub</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<h3>Want to see more?</h3>
						<p>Feel free to check out my <a href="https://github.com/charissayj">GitHub</a> page. There you'll find a repository for <a href="https://github.com/charissayj/algorithms">algorithms</a>, a <a href="https://github.com/charissayj/shescoding-dot-org">group</a> project, some of the very first projects I created, and more! Check it out often as I'm frequently pushing changes and new projects.</p>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>