/* Universal */
.main{
     background-color: rgb(247, 248, 249)
}
#accordion a{
    color: black;
}
.card-block{
    background-color: rgb(247, 248, 249)
}
.jumbotron.jumbotron-fluid{
    color: white;
    background: url("/static/img/ocean.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbo-container{
    background-color:rgba(0, 0, 0, 0.43);
}
.jumbotron a{
    color: aliceblue;
}
.jumbotron a:hover{
    color: white;
}
ul{
    list-style: none;
}
span{
    font-weight: bold;
}
.view{
    background: url("/static/img/code.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.projects .btn{
    background-color: #2a2b2c;
    color: white;
}
#project-header{
    color: white;
    text-shadow: 2px 2px #324B52;
}


