/* Main Page */
#img-main{
    height: 30rem;
    margin-left: 10px;
}
#accordion{
    margin-top: -30px;
}
#accordion a{
    color: black;
}

/* About Page */
.carousel{
    margin-top: 4.063em;
    height: 31.250em;
    width: 34.375em;
}
.carousel-item img{
    height: 31.250em;
    width: 34.375em;
}
span{
    font-weight: bold;
}
.whoAmI{
    margin-top: 0.625em;
}

/* Projects Page */
.view{
    height: 18.75em;
    background: url("/static/img/code.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card{
    width: 20rem;
    margin: 10%;
}
.card-img-top{
    width: 20rem;
    height: 12rem;
}
.projects{
    margin: 1rem;
}
.projects .btn{
    background-color: #2a2b2c;
    color: white;
}
#project-header{
    margin-left: 40%;
    padding-top: 10%
}
#project-header{
    color: white;
    text-shadow: 2px 2px #324B52;
}
/* Media Queries */
/* About Page */
@media all and (max-width: 800px){
    .carousel{
        width: 100%;
    }
    .carousel-item img{
        height: 50%;
    }
    #accordion{
        margin: auto;
        padding-right: 2em;
    }
    /* Why is this change not registering on Heroku?*/
    .card{
        margin: 0;
    }
    #project-header{
        padding-top: 3em;
        margin-left: 3em;
    }
}